<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Around the World | About</title>
<meta charset="utf-8">
<link rel="stylesheet" href='{% static "css/reset.css"%}' type="text/css" media="all">
<link rel="stylesheet" href='{% static "css/layout.css"%}' type="text/css" media="all">
<link rel="stylesheet" href='{% static "css/style.css"%}' type="text/css" media="all">
<script type="text/javascript" src='{% static "js/jquery-1.4.2.js"%}' ></script>
<script type="text/javascript" src='{% static "js/cufon-yui.js"%}'></script>
<script type="text/javascript" src='{% static "js/cufon-replace.js"%}'></script>
<script type="text/javascript" src='{% static "js/Myriad_Pro_600.font.js"%}'></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">
    <header>
      <div class="wrapper">
        <h1><a href="index" id="logo">Around the World</a></h1>
        <div class="right">
          <div class="wrapper">
            <form id="search" action="#" method="post">
              <div class="bg">
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
              </div>
            </form>
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
          <li><a href="home" class="nav1">Home</a></li>
          <li><a href="about" class="nav2">About Us </a></li>
          <li><a href="tours" class="nav3">Our Tours</a></li>
          <li><a href="destinations" class="nav4">Destinations</a></li>
          <li class="end"><a href="contacts" class="nav5">Contacts</a></li>
        </ul>
      </nav>
      <div class="text"> <img src='{% static "images/travel3.jpg"%}' alt="">
        <h2>The Best Offers</h2>
        <p>. IT IS NOT THE DESTINATION WHERE YOU END UP BUT THE MISHAPS AND MEMORIES YOU CREATE ALONG THE WAY.</p>
    </header>
    <section id="content">
      <article class="col1">
        <h3>Hot Travel</h3>
        <div class="pad">
          <div class="wrapper under">
            <figure class="left marg_right1"><img src='{% static "images/page1_img1.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>Italy<br>
              Holidays</strong></p>
            <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
            <a href="#" class="marker_1"></a> </div>
          <div class="wrapper under">
            <figure class="left marg_right1"><img src='{% static "images/page1_img2.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>Philippines<br>
              Travel</strong></p>
            <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
            <a href="#" class="marker_1"></a> </div>
          <div class="wrapper">
            <figure class="left marg_right1"><img src='{% static "images/page1_img3.jpg"%}' alt=""></figure>
            <p class="pad_bot2"><strong>Cruise<br>
              Holidays</strong></p>
            <p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
            <a href="#" class="marker_1"></a> </div>
        </div>
      </article>
      <article class="col2 pad_left1">
        <h2>About Us</h2>
        <div class="wrapper">
          <figure class="left marg_right1"><img src='{% static "images/page2_img1.jpg"%}' alt=""></figure>
          <p><b> IT IS BETTER TO SEE SOMETHING ONCE THAN TO HEAR ABOUT IT A THOUSAND TIMES.</b> </p>

        </div>
        <div>
          <div class="about-us">we provide different packages to make your trip best with a memorable moments.</div>
        </div>
        </article>
    </section>
  </div>
  <div class="block"></div>
</div>
<div class="body1">
  <div class="main">
    <footer>
      <div class="footerlink">

        <p class="rf">Design by Shubham Bajaj</a></p>
        <div style="clear:both;"></div>
      </div>
    </footer>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>